h1 {
	text-align: center;
    color: black;
    
}

h2 {
	text-align: center;
	color: black;
}

.img {
	background-position: center;
}

body{
 background-image: url(https://i.ytimg.com/vi/YYjrbFxjMNQ/maxresdefault.jpg)